.vs/
bin/
obj/

*.user
*.userosscache
*.suo
*.sln.docstates

.aspnet/

/.vs/

.idea/
.vscode/

*.log
*.tlog
*.dmp

*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

*.dll
*.exe
*.so
*.dylib
*.pdb
*.mdb
*.pidb
*.cache
*.ilk
*.lib
*.ncb
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc

*.sln.ide
*.vscode/

wwwroot/dist/
wwwroot/css/
wwwroot/js/
wwwroot/lib/

*.razor.g.cs